<infinite-scroll
  [showLoading]="isLoading"
  [data]="data"
  (dataRequest)="loadData()"
>
  <ng-template #infiniteScrollItem let-item>
    <mat-card class="card-item">
      <mat-card-header>
        <mat-icon  mat-card-avatar>{{ item.image }}</mat-icon>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </ng-template>
  <ng-template #infiniteScrollLoading>
    <div class="card-spinner">
      <mat-spinner></mat-spinner>
      Fetching new data, please wait...
    </div>
  </ng-template>
</infinite-scroll>
<p>
  Item count: {{ dataCounter }} <br><br>
  Load items in increment of 100 after delay of 2000ms when the end of list is reached
</p>
